<header ng-if="option.activeMessage.from">
  <div class="from">
    <h3 class="name">{{option.activeMessage.from}}</h3>
    <div class="meta">
      <span ng-if="option.activeMessage.protected">Secure</span>
      <span ng-if="option.activeMessage.protected"><svg class="icon lock"><use xlink:href="#lock"></use></svg>
      </span>
      <span>{{option.activeMessage.time}}</span>
    </div>
  </div>
</header>
<div class="content" ng-if="option.activeMessage.from">
  <h2 class="title">{{option.activeMessage.title}}</h2>
  <div class="entry" ng-bind-html="option.activeMessage.post">
  </div>
</div>
<!-- <footer>
  <h3 class="title">Attachments</h3>
</footer> -->
